<!--
==================================================================
Arquivo: footer.html
Descrição: Este arquivo contém o código HTML do rodapé do site, responsável por apresentar informações importantes, links de navegação secundária, e elementos de contato e redes sociais.
Importância: O rodapé é um elemento-chave para a navegação e fornece acesso rápido a informações úteis, além de garantir uma aparência coesa ao final de cada página.
Como Funciona: 
  - Define a estrutura do rodapé com seções organizadas (contato, links, redes sociais).
  - Inclui links para páginas importantes, como Termos de Uso, Política de Privacidade e páginas institucionais.
  - Contém ícones de redes sociais com links externos.
  - Possui uma seção para informações de direitos autorais.
Variáveis Definidas:
  - `footerLinks`: Array de objetos contendo links para páginas importantes (ex: Termos de Uso, Política de Privacidade).
  - `socialMediaIcons`: Array de objetos para ícones de redes sociais e seus links correspondentes.
  - `contactInfo`: Objeto contendo informações de contato como e-mail e telefone.
  - `copyrightText`: Texto a ser exibido na seção de direitos autorais.
  - `footerStyle`: Estilos específicos para o rodapé (cores, bordas) que podem ser reutilizados em outros componentes.
Recomendações:
  - Mantenha o estilo visual do rodapé consistente em todo o site, seguindo a identidade visual definida no projeto.
  - Para ajustes específicos de comportamento ou estilo, utilize as variáveis definidas acima e centralize o código CSS correspondente no arquivo dedicado.
Observações:
  - Garanta que todos os links estejam atualizados e redirecionando corretamente para as páginas desejadas.
  - Teste a responsividade do rodapé em diferentes dispositivos para assegurar uma boa usabilidade.
==================================================================
-->
